<footer class="footer">
  <small>
   
    by Bazire Nicolas and Foucault Jeremy
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
